<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
   <module name="TreeWalker">
	   
       <!-- Checks for Javadoc comments.                     -->
       <!-- See http://checkstyle.sf.net/config_javadoc.html -->
       <module name="JavadocMethod">
  		 <property name="severity" value="info"/> 
         <property name="scope" value="package"/>
         <property name="allowMissingParamTags" value="true"/>
         <property name="allowMissingThrowsTags" value="true"/>
         <property name="allowMissingReturnTag" value="true"/>
         <property name="allowThrowsTagsForSubclasses" value="true"/>
         <property name="allowUndeclaredRTE" value="true"/>
         <property name="allowMissingPropertyJavadoc" value="true"/>
       </module>
       <module name="JavadocType">
         <property name="scope" value="package"/>
       </module>
       <module name="JavadocVariable">
         <property name="scope" value="package"/>
       </module>
       <module name="JavadocStyle">
         <property name="checkEmptyJavadoc" value="true"/>
       </module>
	   
        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Checks for imports                              -->
        <!-- See http://checkstyle.sf.net/config_import.html -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/> 
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>    
    </module>
</module>